
nova/app/__pycache__/

nova/app/core/__pycache__/

nova/app/crawler/__pycache__/

nova/app/routes/__pycache__/

nova/__pycache__/

node_modules/

__pycache__/

nova/app/search/__pycache__/

nova/app/storage/__pycache__/